---
layout: layouts/home.njk
eleventyNavigation:
  key: Contact
  order: 50
---

<header class="w3-container w3-padding-32 w3-center w3-black" id="contact_header">
 <h1 class="w3-jumbo"><span class="w3-hide-small">Contact</span></h1>
</header>

<div class="w3-content w3-text-grey w3-padding-64" id="contact">
    <form action="https://getform.io/f/7cb0a4a2-d262-4118-9c19-8c40e37b119b" method="POST">
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="Subject"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
      <p><input class="w3-button w3-light-grey w3-padding-large" type="checkbox" id="privacy_accept"><label for="privacy_accept">I accept that the data provided gets processed by <a href="https://getform.io/">getform.io</a>.</label></p>
      <p>
        <button class="w3-button w3-light-grey w3-padding-large" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </p>
    </form>
    <p>
      ... or <a href="https://rational-security.io/virtual_beverage_with_me">book some time with me</a> to have a chat!
    </p>
</div>