---
layout: layouts/home.njk
eleventyNavigation:
  key: CV
  order: 20
---

<header class="w3-container w3-padding-32 w3-center w3-black" id="home">
 <h1 class="w3-jumbo"><span class="w3-hide-small">Curriculum Vitae</span></h1>
</header>

<div class="w3-content w3-text-grey w3-padding-64" id="cv">
  <p>
    I am fortunate to have spent more than fifteen years working in a field that I am genuinely passionate about.
    Information security allows me to combine a professional career, personal interest, and collaboration with
    amazing people – team members, fellow researchers, and project peers.    
    Having started as a researcher and penetration tester with a strong focus on technology, the work on a
    broad range of projects provided me with insight into organizations and their business objectives and risks.
    I apply this holistic understanding of technology and organizations to develop the profiles and culture
    of the teams and companies I lead and the implementation of technical projects on enterprise-wide
    IT security programs, architecture, and organization. My work as a security leader allows me to drive
    technical excellence in security and give it purpose by ensuring that people, products, and companies
    are enabled and not hindered by it.
  </p>
  <p class="w3-text-light-grey">
    Interested? <a href="https://rational-security.io/virtual_beverage_with_me">Book some time with me</a> to have a chat!
  </p>
  <hr class="w3-opacity">
  <h2 class="w3-text-light-grey">Professional Experience</h2>
  <hr style="width:50%" class="w3-opacity">
  <h3 class="w3-text-light-grey">Principal Security Researcher</h3>
    <p>Averlon.ai, 08/2023 - Present</p>
    <ul class="w3-text-light-grey">
      <li>Security research and product design on cloud-/container-native attack chains.</li>
    </ul>
    <br>
  <h3 class="w3-text-light-grey">Head of Product Security & Principal Security Engineer</h3>
    <p>Astronomer.io, 08/2022 - 07/2023</p>
    <ul class="w3-text-light-grey">
      <li>Improved protection of company assets by establishing processes and automation around SCM security posture and secret handling.</li>
      <li>Redesigned access into managed cloud accounts to use fully monitored least privilege accounts to reduce attack surface and support customer trust.</li>
      <li>Started and shipped first increments of supply chain security (incl. strong os/application patch management) improvements for both consumer and provider side.</li>
    </ul>
    <br>
  <h3 class="w3-text-light-grey">Principal Security Engineer</h3>
    <p>Salesforce, 05/2019 - 08/2023</p>
    <ul class="w3-text-light-grey">
      <li>Ensured a continuously high security posture of cloud/container platforms by establishing. effective threat modeling, risk scoring, and review practices.</li>
      <li>Led a project to understand and foster engineering relationships with security assurance; delivered key recommendations for future optimization.</li>
      <li>Prepared teams for full-stack assessments.</li>
      <li>Performed security engineering, assessments, and risk/threat modeling for a hyperscale container platform.</li>
      <li>Mentored technical staff members across the company on technical knowledge, processes, and career advancement.</li>
    </ul>
    <br>
  <h3 class="w3-text-light-grey">Independent Researcher/Trainer/Consultant</h3>
    <p>Self-employed, Since 10/2018</p>
    <ul class="w3-text-light-grey">
      <li>Provide trainings and consulting in the space of Agile, Cloud, Container & DevOps Security and Security Transformation & Strategy.</li>
      <li>Worked as Security Architect for different Cloud development projects aligning security posture and features across the product.</li>
    </ul>
    <br>
  <h3 class="w3-text-light-grey">Executive Director/Principal Consultant/Head of Research</h3>
    <p>ERNW GmbH, 07/2007 - 09/2018</p>
    <ul class="w3-text-light-grey">
      <li>Held various roles from Pentester/Researcher to CEO in a security consulting group.</li>
      <li>Developed the service portfolio, leadership guidelines, and company culture framework of the ERNW group.</li>
      <li>Grew company from 40 to 70 people.</li>
      <li>Led a team of select consultants for strategy consulting/assessment for Cloud-native/DevOps-/Agile security architectures.</li>
      <li>Founded and lead a research-oriented spin-off.</li>
    </ul>
    <br>
  <h2 class="w3-text-light-grey">Community Activity</h2>
  <hr style="width:50%" class="w3-opacity">
    <ul class="w3-text-light-grey">
      <li>08/2017 - Present: Webinars on <a href="https://www.ipspace.net/Main_Page">ipspace.net</a> on Cloud, DevOps, Containers</li>
      <li>03/2011 - Present: Developing real-world hacking challenges and cloud-native hosting infrastructure for <a href="https://www.packetwars.com/">Packetwars™</a></li>
      <li>10/2009 - 09/2018: Program Committee Member of <a href="https://troopers.de/">TROOPERS security conference</a></li>
    </ul>
    <br>
  <h2 class="w3-text-light-grey">Education</h2>
  <hr style="width:50%" class="w3-opacity">
    <ul class="w3-text-light-grey">
      <li>10/2009 - 10/2011, University of Mannheim, Germany: Master of Computer Science and Business Administration</li>
      <li>10/2005 - 10/2009, University of Mannheim, Germany: Bachelor of Computer Science</li>
      <li>06/2018 - 06/2019, Salesforce: Accelerate Leadership Training Graduate</li>
    </ul>
    <br>
  <hr style="width:100%" class="w3-opacity">
  <p>References and additional work history available upon request.</p>
</div>
