---
layout: layouts/home.njk
eleventyNavigation:
  key: Publications
  order: 30
---
<header class="w3-container w3-padding-32 w3-center w3-black" id="home">
 <h1 class="w3-jumbo"><span class="w3-hide-small">Publications</span></h1>
</header>

<div class="w3-content w3-text-grey w3-padding-64" id="publications">
  <h2 class="w3-text-light-grey">Presentations</h2>
  <hr style="width:50%" class="w3-opacity">
  <ul class="w3-text-light-grey">
    <li>03/2023: VEPCG Internal Security Conference, Online: Keynote, State of Supply Chain Security</li>
    <li>08/2022: Infosek.si, Nova Gorica, Slovenia: GitHub Security</li>
    <li>01/2021: HEK.si, Online: Fantastic Secrets And Where To Find Them: Modern Secret Management</li>
    <li>04/2020: BSides Munich, Munich, Germany: Do Containers contain?</li>
    <li>12/2019: BlackHat Europe, London, UK: <a href="https://www.blackhat.com/eu-19/briefings/schedule/index.html#reverse-engineering-and-exploiting-builds-in-the-cloud-17287">Reversing & Attacking Build Systems in the Cloud</a> (<a href="https://github.com/heroku/bheu19-attacking-cloud-builds">Material</a>)</li>
    <li>11/2019: Infosek.si, Nova Gorica, Slovenia: Pentesting DevOps Environments</li>
    <li>04/2019: hek.si, Ljubljana, Slovenia: Pentesting OpenStack</li>
    <li>10/2018: Hacker 2 Hacker Conference, Sao Paolo, BRA: <a href="https://github.com/h2hconference/2018">Attacking VMware NSX</a></li>
    <li>06/2018: Security Interest Group Switzerland Technology Conference, Zürich, CH: Using the Modern Application Stack to Improve Security</li>
    <li>03/2018: Troopers, Heidelberg, GER: From Zero to Secure Continuous Delivery in 60 Minutes</li>
    <li>10/2017: Hacker 2 Hacker Conference, Sao Paolo, BRA: <a href="https://github.com/h2hconference/2017">Pentesting DevOps Environments</a></li>
    <li>11/2016: Digital Society Conference, Berlin, GER: <a href="https://esmt.berlin/faculty-research/sites/faculty/files/2019-04/DSI_20161122_DSC2016.pdf">Doing the Same Thing Over and Over Again: A Critical View on Security Products</a></li>
    <li>05/2016: Special Interest Group Asset Management, Frankfurt, GER: Security & Compliance in Cloud Environments</li>
    <li>03/2016: Troopers, Heidelberg, GER: Attacking & Protecting Big Data Environments</li>
    <li>06/2015: CSA Nordic Summit, Oslo, NO: <a href="https://csanordicsummitandsummercon2015.sched.com/event/2KR8/tools-of-the-trade-lessons-learned-from-cisos-desks">Tools of the Trade: Lessons Learned from the (C)ISO’s Desk</a></li>
    <li>03/2015: Troopers, Heidelberg, GER: Evaluating the APT Armor</li>
    <li>03/2015: Syscan, Singapore: Training Exploiting Hypervisors</li>
    <li>08/2014: BlackHat USA, Las Vegas, NV, USA: <a href="https://www.blackhat.com/docs/us-14/materials/us-14-Luft-When-The-Lights-Go-Out-Hacking-Cisco-EnergyWise.pdf">When the Lights go out: Hacking Cisco EnergyWise</a></li>
    <li>05/2014: Infiltrate Conference, Miami, FL, USA: <a href="https://downloads.immunityinc.com/infiltrate-archives/INFILTRATE2014_Day2.pdf">Exploiting Hyper-V</a></li>
    <li>03/2014: Troopers, Heidelberg, GER: Compromise-as-a-Service: Our PleAzure, Exploiting Hypervisors</li>
    <li>12/2013: Annual Computer Security Applications Conference (ACSAC), New Orleans, MI, USA: Designing State-of-the-Art Business Partner Connections</li>
    <li>03/2013: Troopers, Heidelberg, GER: Pitfalls of Vulnerability Rating</li>
    <li>10/2012: Day-Con 6, Dayton OH, USA: From Hypervisors to Cloud</li>
    <li>05/2012: Hack In The Box, Amsterdam, NL: <a href="https://conference.hitb.org/hitbsecconf2012ams/enno-rey-daniel-mende-matthias-luft-and-pascal-turbing-ernw/index.html">VMDK Has Left The Building: Attacks on vSphere Cloud Environments</a></li>
    <li>05/2012: RMISC, Denver CO, USA: Security Requirements & Cloud Computing</li>
    <li>03/2012: Troopers, Heidelberg, GER: Auditing the Cloud</li>
    <li>11/2011: DeepSec, Vienna, AT: Do They Deliver? Practical Load and Security Testing of Cloud Service Providers</li>
    <li>05/2011: IT-Security, München: Security Reflections on Multifunction Devices</li>
    <li>10/2010: ISSE, Berlin: Data Leakage Prevention, Berlin, GER: A small leak will sink a great ship</li>
    <li>03/2009: IT Underground, Prag, CZ, Workshop "Endpoint Security"</li>
  </ul>
  <h2 class="w3-text-light-grey">Papers & Blog Posts</h2>
  <hr style="width:50%" class="w3-opacity">
  <ul class="w3-text-light-grey">
    <li>09/2020: <a href="https://blog.ipspace.net/2020/09/considerations-host-based-firewalls.html">Blogpost Series on Host-based Firewalls</a> </li>
    <li>08/2020: <a href="https://engineering.salesforce.com/looking-at-the-kubernetes-control-plane-for-multi-tenancy-88914cd7aa89/">Looking at the Kubernetes Control Plane for Multi-Tenancy</a></li>
    <li>09/2017: Andreas Dewald & Matthias Luft, Incident Analyse und Forensik in Docker-Umgebungen, DACH Security, 2017</li>
    <li>10/2016: Contribution to <a href="https://esmt.berlin/faculty-research/sites/faculty/files/2019-03/dsi-ipr_2017-1_en-de.pdf">Vulnerabilities in IT-security products</a></li>
    <li>08/2016: Creation of "Hardware Threat Landscape" Report for ENISA</li>
    <li>10/2015: Research in Attacks, Intrusions, and Defenses: 18th International Symposium, RAID 2015, Kyoto, Japan,November 2-4, 2015. Proceedings, Aleksandar Milenkoski & Bryan D. Payne & Nuno Antunes & Marco Vieira & Samuel Kounev & Alberto Avritzer & Matthias Luft, Evaluation of Intrusion Detection Systems in Virtualized Environments Using Attack Injection (DOI 10.1007/978-3-319-26362-5_22)</li>
    <li>05/2014: Felix Wilhelm & Matthias Luft, Security Assessment of Microsoft Hyper-V</li>
    <li>10/2010: EC2ND, Invited Guest Reviewer "Data Leakage Prevention"</li>
    <li>10/2010: ISSE 2010 Securing Electronic Business Processes, Thorsten Holz & Matthias Luft, A Small Leak will Sink a Great Ship: An Empirical Study of DLP Solutions</li>
  </ul>
  <h2 class="w3-text-light-grey">FOSS & Tools</h2>
  <hr style="width:50%" class="w3-opacity">
  <ul class="w3-text-light-grey">
    <li><a href="https://github.com/uchi-mata/dostainer">Dostainer</a>: Container to test Kubernetes DoS protections</li>
    <li><a href="https://github.com/uchi-mata/http2-burp-chain">HTTP2 for Burp Suite</a>: Handling HTTP2 before Burp Suite had official HTTP2 support</li>
    <li><a href="https://github.com/uchi-mata/k8s-node-scheduling-examples">Kubernetes Node Scheduling Restrictions</a></li>
    <li><a href="https://github.com/uchi-mata/k8s-hacking-demo">Kubernetes Hacking Demos</a></li>
  </ul>
  <h2 class="w3-text-light-grey">Misc</h2>
  <hr style="width:50%" class="w3-opacity">
  <ul class="w3-text-light-grey">
    <li>Webinars on <a href="https://www.ipspace.net/Author:Matthias_Luft">ipspace.net</a></li>
    <li><a href="https://web.archive.org/web/20220122020306/https://insinuator.net/author/mluft/">Blog Post Archive</a></li>
  </ul>
</div>