---
layout: layouts/home.njk
eleventyNavigation:
  key: Trainings
  order: 40
---

<header class="w3-container w3-padding-32 w3-center w3-black" id="trainings_header">
 <h1 class="w3-jumbo"><span class="w3-hide-small">Trainings</span></h1>
</header>

<div class="w3-content w3-justify w3-text-grey w3-padding-64" id="trainings">
  <p class="w3-text-light-grey">I plan to offer trainings on the following topics:</p>
  <ul class="w3-text-light-grey">
    <li>Container Security</li>
    <li>Supply Chain Security</li>
    <li>Security Engineering & DevSecOps</li>
    <li>Cloud Security</li>
  </ul>
  <p class="w3-text-light-grey">Details following soon!</p>
</div>